<!-- bradcrumb and dynamic buttons-->
<div class="shipment-header ">
  <div>
    <app-breadcrumb [documentNumber]="documentNumber()"></app-breadcrumb>
  </div>
  <div>
    <app-dynamic-button-group [isDashboard]="isDashboard" [statuses]="shipmentCrmStatus()" [selectedDocumentNumber]="documentNumber()" ></app-dynamic-button-group>
  </div>
</div>
<!-- tabs and lazy load contents -->
<div class="card">
  <p-tabView [activeIndex]="activeShipmentIndex" (tabChange)="onTabChange($event)" styleClass="custom-tabview">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-file" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Documento
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-document-shipment></app-document-shipment>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-map" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Ruta
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-routes-shipment></app-routes-shipment>
        </div>
      </ng-template>
    </p-tabPanel>
<!--
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-truck" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Conductor
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-driver-shipment></app-driver-shipment>
        </div>
      </ng-template>
    </p-tabPanel> -->

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-box" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Productos
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-product-shipment></app-product-shipment>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-paperclip" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Anexos
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-annexes-shipment></app-annexes-shipment>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-history" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Historial
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-history-shipment></app-history-shipment>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-exclamation-triangle" style="font-size: 14px"></i>
          <span class="font-bold white-space-nowrap m-0 text-sm">
            Incidencias
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="custom-tab-content">
          <app-incidence-shipment></app-incidence-shipment>
        </div>
      </ng-template>
    </p-tabPanel>

  </p-tabView>
  <!-- Aquí insertamos el chip a la derecha del contenedor de los tabs -->
  <div class="tab-header-extra display-none md:flex">
    <p-chip label="Borrador" class="ml-3" [label]="shipmentCrmStatus()[0]" [styleClass]="getCmrChipClass(shipmentCrmStatus()[0])"></p-chip>
  </div>
</div>
