<div class="error-container">
  <img class="error-logo" src="/logo.svg" alt="logo">
    <h1 class="error-title">¡Vaya! No hemos encontrado lo que buscabas...</h1>
    <p class="error-subtitle">Error 404 - Página no encontrada</p>
    <p class="error-message">La página que intentaste ver puede haber sido eliminada, el enlace puede estar roto o tal vez escribiste la dirección incorrectamente, ¡pero no te preocupes, podemos ayudarte!</p>
    <p-button label="Volver" icon="pi pi-undo" [outlined]="true" (onClick)="return()"></p-button>
    <p class="support-message">Si el problema persiste o necesitas ayuda, puedes ponerte en contacto con nosotros: support&#64;widoit.com</p>
    <p class="footer-message">¡Gracias por tu paciencia! 😊</p>
</div>
